__pycache__

Makefile
autom4te.cache
config.log
config.status
config.sub
config.guess
configure~
install-sh
configure

doc/ec_probe.1
doc/nbfc.1
doc/nbfc_service.1
doc/nbfc_service.json.5
doc/nbfc.faq.7

completion/bash/ec_probe
completion/bash/nbfc
completion/bash/nbfc_service
completion/fish/ec_probe.fish
completion/fish/nbfc.fish
completion/fish/nbfc_service.fish
completion/zsh/_ec_probe
completion/zsh/_nbfc
completion/zsh/_nbfc_service

etc/systemd/system/nbfc_service.service
etc/init.d/nbfc_service.openrc
etc/init.d/nbfc_service.systemv

src/*.o
src/a.out
src/config.h
src/config.h.in
src/nbfc
src/nbfc-debug
src/nbfc_service
src/nbfc_service-debug
src/ec_probe
src/ec_probe-debug

src/test/test_acpi_call
src/test/test_aml_analysis
src/test/test_aml_lexer
src/test/test_model_config
src/test/test_config_validation
src/test/DSDT.aml
src/test/fingerprint_current_firmware

ccls-cache/
.vscode/
